<!-- main - a row holds columns -->
<div class=row>
  <div class="col col-xs-12">

    

    <div class="form-group">
      <label for="given">Given name</label>
      <input type="text" class="form-control" id="given" name="given" value="<%= student.given %>">
    </div>

    <div class="form-group">
      <label for="family">Family name</label>
      <input type="text" class="form-control" id="family" name="family" value="<%= student.family %>">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="<%= student.email %>" required>
    </div>

    <div class="form-group">
      <label for="city">GPA </label>
      <input type="text" class="form-control" id="gpa" name="gpa" value="<%= student.GPA %>">
    </div>

    <div class="form-group">
      <label for="state">GitHub </label>
      <input type="text" class="form-control" id="git" name="git" value="<%= student.GitHub %>">
    </div>

    <div class="form-group">
      <label for="zip">Website </label>
      <input type="text" class="form-control" id="web" name="web" value="<%= student.Website %>">
    </div>

    <div class="form-group">
      <label for="country">Section ID </label>
      <input type="text" class="form-control" id="section" name="section" value="<%= student.sectionID %>">
    </div>

  </div>
</div>

<!-- PUT CLIENT SIDE CODE HERE -->
<script>
 
  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>